$break-desktop: 1025px;
$break-tablet-end: 1024px;
$break-tablet-start: 768px;
$break-mobile: 767px; // fonts vars
$font-main: "franklin-gothic-urw",sans-serif;
$font-weight-heavy: 900;
$font-weight-demi: 700;
$font-weight-medium: 500;
$font-weight-book: 400; // colors vars
$color-rosso-tfp: #D10019;
$color-rosso-tfp-dark: #A80000;
$color-rosso-tfp-aplpha: #E36675;
$color-bianco: #FFFFFF;
$color-nero: #000000;
$color-grigio-scuro: #1A1A1A;
$color-grigio-medio: #4A4A49;
$color-grigio-chiaro: #757575;
$color-grigio-linee-grafica: #CCC;
$color-grigio-fondi: #E5E5E5;
$color-incontri-libri: #00842D;
$color-musica: #005193;
$color-cinema: #EE7F00;
$color-piccoli-parenti: #76448A;
$color-corsi-laboratori: #FFC010;
$color-bagni-misteriosi: #3CA3BC;
$color-eventi: #006C7A;
$color-abbonamenti: #99073F;
$color-danza: #99073F;
$color-poesia: #2812AF;
// form vars
$form-label: "franklin-gothic-urw",sans-serif;
$form-label-weight: 400;
$form-label-text-size: 14px;
$form-text-text-size: 12px;
$form-text: "franklin-gothic-urw",sans-serif;
$form-text-weight: 400;
$form-label-color: #1A1A1A;
$form-text-color: #1A1A1A;
$form-border-color: #000000;
$form-border-color-focus: #64D31C;
$form-background-color: #F1F1F1;
$form-file-background-color: #FFF;
$form-submit-color: #FFF;
$form-submit-background-color: #FC8300;
$form-submit-hover-color: #FC8300;
$form-submit-hover-background-color: #FFF;
$form-error-color: #FFF;
$form-error-background-color: #B800F4;
$form-ok-color: #FFF;
$form-ok-background-color: #B800F4; // paddings
$pad-top-1: 2%;
$pad-right-1: 2%;
$pad-bottom-1: 2%;
$pad-left-1: 2%;
$pad-top-2: 4%;
$pad-right-2: 4%;
$pad-bottom-2: 4%;
$pad-left-2: 4%;
$pad-top-3: 8%;
$pad-right-3: 8%;
$pad-bottom-3: 8%;
$pad-left-3: 8%; // margins
$margin-top-1: 10px;
$margin-right-1: 10px;
$margin-bottom-1: 10px;
$margin-left-1: 10px;
$margin-top-2: 20px;
$margin-right-2: 20px;
$margin-bottom-2: 20px;
$margin-left-2: 20px;
$margin-top-3: 30px;
$margin-right-3: 30px;
$margin-bottom-3: 30px;
$margin-left-3: 30px;