@import '../vars';

.mosaic-cascade {
  h1 {
    font-weight: $font-weight-heavy;
    font-size: $h2-size;
    line-height: $h2-lineheight;
    margin-bottom: 0 !important;
    word-wrap: break-word;
  }
}

.flex-hold-home-7 {
  margin-bottom: 3vw;

  .flex-hold-child {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    overflow: hidden;
  }
}

.flex-hold-home-3,
.flex-hold-home-4 {
  margin-bottom: 3vw;

  .flex-hold-child:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    overflow: hidden;
  }

  .flex-hold-child:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    overflow: hidden;
  }
}

.flex-hold-home-1 {
  .flex-hold-child:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    overflow: hidden;
  }
}

.flex-hold-child-inner-full {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }
}

.flex-hold-child-inner-one {
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
  overflow: hidden;

  .child-image-one {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  .child-content-one {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    @include white-black-opacity;

    .sidebar {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      width: 0;
      height: 100%;
      pointer-events: none;
      @include transition-half;
      background-color: $color-grigio-fondi;

      &.onit {
        width: 12px;
      }
    }
  }
}

.flex-hold-child-inner-half {
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }
}

.child-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-nero;
}

.noonit {
  pointer-events: none !important;
}

.mosaic-1 {
  .positioner-image {
    position: absolute;
    top: 3vw;
    left: 3vw;
    display: block;
    width: 94vw;
    height: 97%;
    background-size: cover;
    background-position: 50% 0;
  }

  .positioner {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    @include transition;

    &.onit {
      height: 100%;
    }

    h2,
    h4,
    h5 {
      font-weight: $font-weight-demi;
      font-size: $h5-size;
      line-height: $h5-lineheight;
      margin-bottom: 8px !important;
    }

    .cta-1 {
      margin-bottom: 8px !important;
    }

    .cta-2 {
      margin: 0 !important;
      padding: 0 !important;
    }

    p {
      font-size: $cta1-size;
      line-height: $cta1-lineheight;
      margin-top: 8px !important;
    }

    .abstract {
      display: none;
    }
    @include white-black-opacity;

    .texts {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;

      .padder {
        padding: 0 22px 16px;
      }
    }
  }
}

.sidebar {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  display: block;
  width: 0;
  height: 100%;
  pointer-events: none;
  @include transition-half;
  background-color: $color-grigio-fondi;

  &.onit {
    width: 12px;
  }
}

.mosaic-2,
.mosaic-3,
.mosaic-3-b {
  position: relative;
  overflow: hidden !important;

  .positioner-image {
    position: absolute;
    top: 3vw;
    left: 3vw;
    display: block;
    width: 46%;
    padding-bottom: 32%;
    //height: 100%;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  .positioner {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 100%;
    @include transition;
    @include white-black-opacity-reverse;

    &.onit {
      height: 100%;
    }

    h2,
    h4,
    h5 {
      font-weight: $font-weight-demi;
      font-size: $h5-size;
      line-height: $h5-lineheight;
      margin-bottom: 8px !important;
    }

    .cta-1 {
      margin-bottom: 8px !important;
    }

    .cta-2 {
      margin: 0 !important;
      padding: 0 !important;
    }

    p {
      font-size: $cta1-size;
      line-height: $cta1-lineheight;
      margin-top: 8px !important;
    }

    .abstract {
      display: none;
    }

    .texts {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;

      .padder {
        padding: 12px 22px 0 12px;
      }
    }
  }

  .sidebar {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: none;
    width: 0;
    height: 100%;
    pointer-events: none;

    &.onit {
      width: 12px;
    }
  }
}

a.home-cartellone-cta:link,
a.home-cartellone-cta:visited {
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  font-size: $h5-size;
  line-height: $h5-size;
  font-weight: $font-weight-demi;
  text-align: center;
  background-color: $color-rosso-tfp;
  color: $color-bianco !important;
  text-transform: uppercase !important;
}

a.home-calendario-cta:link,
a.home-calendario-cta:visited {
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  font-size: $h5-size;
  line-height: $h5-size;
  font-weight: $font-weight-demi;
  text-align: center;
  background-color: $color-bianco;
  color: $color-grigio-medio !important;
  text-transform: uppercase !important;
  border-bottom: solid 1px $color-grigio-linee-grafica;
}