@import '../vars';

.landing-title-no-image {
  margin: 20px 0 0;
}

.landing-opening {
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.landing-logo-stripe {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.landing-logo {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 30px;
  width: calc(100% - 60px);
  height: 60px;
  background-image: url("images/logo-bianco.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}

.landing-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 60px);
  padding: 20px 30px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.landing-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.landing-grid-left {
  order: 2 !important;
  position: relative;
  -webkit-box-flex: 1;
  width: 100% !important;
  margin-right: 0;
}

.landing-grid-right {
  order: 1 !important;
  position: relative;
  -webkit-box-flex: 1;
  width: 100% !important;
  padding: 30px 0 0;
}

.padder-landing {
  margin-top: 24px;
  padding: 24px;
  overflow: hidden;
}

.padder-landing-share {
  margin-top: 0;
  padding: 24px 0 0;
  overflow: hidden;
}