@import '../vars'; // typography desktop
$h1-size: 24px;
$h1-lineheight: 30px;
$h1-marginbottom: 8px;
$h2-size: 20px;
$h2-lineheight: 24px;
$h2-marginbottom: 8px;
$h3-size: 22px;
$h3-lineheight: 24px;
$h3-marginbottom: 8px;
$h4-size: 18px;
$h4-lineheight: 22px;
$h4-marginbottom: 8px;
$h5-size: 15px;
$h5-lineheight: 20px;
$h5-marginbottom: 8px;
$h6-size: 15px;
$h6-lineheight: 20px;
$h6-marginbottom: 8px;
$paragraph-size: 15px;
$paragraph-lineheight: 21px;
$paragraph-marginbottom: 8px;
$menu-size: 15px;
$menu-lineheight: 120%;
$menu-marginbottom: 0;
$cta1-size: 14px;
$cta1-lineheight: 16px;
$cta1-marginbottom: 4px;
$cta2-size: 14px;
$cta2-lineheight: 16px;
$cta2-marginbottom: 8px;
$cta3-size: 14px;
$cta3-lineheight: 16px;
$cta3-marginbottom: 8px;
$cta4-size: 12px;
$cta4-lineheight: 12px;
$cta4-marginbottom: 0;

.h1-inline,
h1 {
  font-weight: $font-weight-heavy;
  font-size: $h1-size;
  line-height: $h1-lineheight;
  margin-bottom: $h1-marginbottom;
  word-wrap: break-word;
}

.fullscreen-cta {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

.title-holder h1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  word-wrap: break-word;
}

.h2-inline,
h2 {
  font-weight: $font-weight-heavy;
  font-size: $h2-size;
  line-height: $h2-lineheight;
  margin-bottom: $h2-marginbottom;
  word-wrap: break-word;
}

.classifica-grid-number h2 {
  font-weight: $font-weight-heavy;
  font-size: $h1-size;
  line-height: $h1-lineheight;
  margin-bottom: $h1-marginbottom;
  word-wrap: break-word;
}

h3 {
  font-weight: $font-weight-demi;
  font-size: $h3-size;
  line-height: $h3-lineheight;
  margin-bottom: $h3-marginbottom;
  word-wrap: break-word;
}

h4 {
  font-weight: $font-weight-heavy;
  font-size: $h4-size;
  line-height: $h4-lineheight;
  margin-bottom: $h4-marginbottom;
  word-wrap: break-word;
}

.h5-box,
h5 {
  font-weight: $font-weight-demi;
  font-size: $h5-size;
  line-height: $h5-lineheight;
  margin-bottom: $h5-marginbottom;
  word-wrap: break-word;
}

.def-grid-six h5 {
  display: none;
}

.def-grid-six h4,
h6 {
  font-weight: $font-weight-demi;
  font-size: $h6-size;
  line-height: $h6-lineheight;
  margin-bottom: $h6-marginbottom;
  word-wrap: break-word;
}

p {
  font-weight: $font-weight-book;
  font-size: $paragraph-size;
  line-height: $paragraph-lineheight;
  margin-bottom: $paragraph-marginbottom;
  color: $color-grigio-medio;
  word-wrap: break-word;
}

.cta-1 {
  font-weight: $font-weight-medium;
  font-size: $cta1-size;
  line-height: $cta1-lineheight;
  margin-bottom: $cta1-marginbottom;
  word-wrap: break-word;
}

.spettacolo-grid-right .cta-1 {
  font-weight: $font-weight-medium;
  font-size: $cta1-size;
  line-height: $cta1-lineheight;
  margin-bottom: 0 !important;
  word-wrap: break-word;
}

.cta-2,
.cta-2 p,
.wp-caption-text,
.wp-caption-text p,
small {
  font-weight: $font-weight-book;
  font-size: $cta2-size;
  line-height: $cta2-lineheight;
  margin-bottom: $cta2-marginbottom;
  word-wrap: break-word;
}

.cta-3 {
  font-weight: $font-weight-book;
  font-size: $cta3-size;
  line-height: $cta3-lineheight;
  margin-bottom: $cta3-marginbottom;
  word-wrap: break-word;
}

.cta-4 {
  font-weight: $font-weight-heavy;
  font-size: $cta4-size;
  line-height: $cta4-lineheight;
  margin-bottom: $cta4-marginbottom;
  word-wrap: break-word;
}

.calendar-grid-top .cta-2 {
  font-weight: $font-weight-demi !important;
}

.textwidget {
  h5 {
    font-weight: $font-weight-book !important;
  }

  p {
    margin-top: 0 !important;
  }
}

.zero-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: $font-weight-heavy;
  margin-top: 4vh;
}

a.pointo:link,
a.pointo:visited {
  font-weight: $font-weight-heavy;
  font-size: $cta4-size;
  line-height: $cta4-lineheight;
  text-transform: uppercase;
  color: $color-rosso-tfp;
  text-decoration: none;

  &:after {
    content: " ▶";
  }
}

a.pointo:hover {
  color: $color-grigio-medio;
}

#header-structure {
  .menu {
    font-weight: $font-weight-book;
    font-size: $menu-size;
    line-height: $menu-lineheight;
  }
}

.expandable-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding-left: 18px;
  }

  p {
    padding-left: 18px;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
  }
}

.content-styled {
  word-wrap: break-word;
  overflow: hidden;

  h1,
  h2,
  h3,
  h5,
  h6 {
    font-weight: $font-weight-demi;
    font-size: $h5-size;
    line-height: $h5-lineheight;
    margin-bottom: $h5-marginbottom;
    word-wrap: break-word;
  }

  h6 {
    a {
      font-size: $cta4-size;
      font-weight: $font-weight-heavy;
      text-transform: uppercase;
      color: $color-rosso-tfp;
      text-decoration: none;

      &:after {
        content: " ▶";
      }
    }
  }

  h4 {
    font-weight: $font-weight-demi;
    font-size: $h5-size;
    line-height: $h5-lineheight;
    margin-bottom: $h5-marginbottom;
    word-wrap: break-word;
  }

  p {
    margin: 0 0 8px;
  }

  ul {
    font-weight: $font-weight-book;
    font-size: $paragraph-size;
    line-height: $paragraph-lineheight;
    margin-bottom: $paragraph-marginbottom;
    color: $color-grigio-medio;
    list-style-position: inside;
    list-style: none;
    padding: 0;
  }

  ul li {
    display: table-row;
  }

  ul li:before {
    position: relative;
    display: table-cell;
    content: '•';
    font-size: 20px;
    color: $color-rosso-tfp;
    padding: 0 10px 0 0;
  }

  ol {
    font-weight: $font-weight-book;
    font-size: $paragraph-size;
    line-height: $paragraph-lineheight;
    margin-bottom: $paragraph-marginbottom;
    color: $color-grigio-medio;
    list-style-type: none;
    list-style-type: decimal;
    padding: 0;
    counter-reset: li-counter;
  }

  ol > li {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
    display: table-row;
  }

  ol > li:before {
    position: relative;
    display: table-cell;
    top: 0;
    left: 0;
    color: $color-rosso-tfp;
    font-weight: $font-weight-heavy;
    font-size: $cta1-size;
    text-align: right;
    content: counter(li-counter)" ";
    counter-increment: li-counter;
    padding: 0 15px 0 0;
  }
}

#header-expanded .menu-main,
#header-overlay .menu-main {
  .menu {
    position: relative;
    font-weight: $font-weight-book;
    font-size: $cta3-size;
    line-height: $cta3-lineheight;
    margin-bottom: $cta3-marginbottom;
    word-wrap: break-word;

    .menu-item-object-custom {
      cursor: pointer;
    }

    li {
      position: relative;
      display: inline-block;
      margin-right: 24px;
      color: $color-grigio-chiaro;

      a:link,
      a:visited {
        color: $color-grigio-chiaro;
      }

      a:hover {
        color: $color-grigio-scuro;
      }

      &:hover {
        color: $color-grigio-scuro;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: 24px;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    background-color: $color-bianco;
    border: $color-grigio-linee-grafica solid 1px;
    font-size: $cta2-size;
    line-height: $cta2-lineheight;
    font-weight: $font-weight-book;
    z-index: 9999;
    display: none;

    li {
      position: relative;
      display: block;
      text-align: left;

      a:link,
      a:visited {
        display: block;
        width: 140px;
        padding: 10px;
        color: $color-grigio-medio;
      }

      a:hover {
        color: $color-grigio-scuro;
        background-color: $color-grigio-fondi;
      }
    }
  }
}

.overlay-navi-list {
  .menu {
    font-weight: $font-weight-book;
    font-size: $cta3-size;
    line-height: $cta3-lineheight;
    margin-bottom: $cta3-marginbottom;
    word-wrap: break-word;
    margin-bottom: 20px;

    li {
      margin-bottom: 5px;
    }
  }

  .sub-menu {
    font-weight: $font-weight-book;
    font-size: $cta1-size;
    line-height: $cta1-lineheight;
    margin-bottom: $cta1-marginbottom;
    word-wrap: break-word;
    margin-top: 5px;

    li {
      margin-bottom: 5px;
    }
  }
}

#header .menu-main {
  .menu {
    position: relative;
    font-weight: $font-weight-book;
    font-size: $h6-size;
    line-height: $cta3-lineheight;
    margin-bottom: $cta3-marginbottom;
    word-wrap: break-word;

    .menu-item-object-custom {
      cursor: pointer;
    }

    li {
      position: relative;
      display: inline-block;
      margin-right: 8px;
      color: $color-grigio-chiaro;

      a:link,
      a:visited {
        color: $color-grigio-chiaro;
      }

      a:hover {
        color: $color-grigio-scuro;
      }

      &:hover {
        color: $color-grigio-scuro;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: 24px;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    background-color: $color-bianco;
    border: $color-grigio-linee-grafica solid 1px;
    font-size: $cta2-size;
    line-height: $cta2-lineheight;
    font-weight: $font-weight-book;
    z-index: 9999;
    display: none;

    li {
      position: relative;
      display: block;
      text-align: left;

      a:link,
      a:visited {
        display: block;
        width: 140px;
        padding: 10px;
        color: $color-grigio-medio;
      }

      a:hover {
        color: $color-grigio-scuro;
        background-color: $color-grigio-fondi;
      }
    }
  }
}

.overlay-navi-list {
  .menu {
    font-weight: $font-weight-book;
    font-size: $h4-size;
    line-height: $h4-lineheight;
    margin-bottom: $h4-marginbottom;
    word-wrap: break-word;
    margin-bottom: 20px;

    li {
      margin-bottom: 5px;
    }
  }

  .sub-menu {
    font-weight: $font-weight-book;
    font-size: $cta1-size;
    line-height: $cta1-lineheight;
    margin-bottom: $cta1-marginbottom;
    word-wrap: break-word;
    margin-top: 5px;

    li {
      margin-bottom: 5px;
    }
  }
}

.noblack {
  font-weight: $font-weight-medium !important;
}

a.search-icon {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 14px;
  margin-right: 8px;
  background-image: url("images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
}

#header-overlay-navi-structure {
  a.basket-icon {
    top: 12px;
  }
}

.footer-navi-list {
  .menu {
    font-weight: $font-weight-book;
    font-size: $cta2-size;
    line-height: $cta2-lineheight;
    margin-bottom: $cta2-marginbottom;
    word-wrap: break-word;
    margin-bottom: 20px;

    li {
      margin-bottom: 5px;
    }
  }

  .sub-menu {
    font-weight: $font-weight-book;
    font-size: $cta1-size;
    line-height: $cta1-lineheight;
    margin-bottom: $cta1-marginbottom;
    word-wrap: break-word;
    margin-top: 5px;

    li {
      margin-bottom: 5px;
    }
  }
}
// forms

.weeks {
  //display: inline-block;
  //width: 100%;
}

.one-week-less {
  position: relative;
  left: 0;
}

.one-week-more {
  position: absolute !important;
  right: 0 !important;
  top: 18px;
}

.datepicker-from {
  width: 25px;
  height: 25px;
  font-size: 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 12px 0;
  background-color: $color-bianco;
  background-image: url("images/calendar.png");
  background-repeat: no-repeat;
  background-position: 2px 50% !important;
  background-size: 25px 25px;
}

.calendar-dates-type {
  font-family: $form-label;
  font-weight: $font-weight-demi;
  font-size: $h5-size;
  line-height: $h5-lineheight;
  word-wrap: break-word;
  pointer-events: none;
  border: none;
  background-color: transparent;
  text-align: left;
  position: absolute;
  left: 75px;
  width: 180px;
}

.week-select-calendar {
  line-height: $cta1-lineheight;
}

.week-select-home {
  line-height: $cta1-lineheight !important;
}

.week-select {
  font-family: $form-label;
  font-weight: $font-weight-heavy;
  font-size: $h1-size;
  word-wrap: break-word;
  position: relative;
  border: none;
  display: inline-block;
  min-width: 10px !important;
  cursor: pointer;
  margin: 0 10px !important;
  padding: 0 !important;
}

.calendar-dates-bottom {
  font-family: $form-label;
  font-weight: $font-weight-book !important;
  font-size: $cta2-size !important;
  line-height: $cta2-lineheight !important;
  word-wrap: break-word;
  pointer-events: none;
}

.calendar-dates-type-home {
  font-family: $form-label;
  font-weight: $font-weight-demi;
  font-size: $h6-size;
  line-height: $h6-lineheight;
  word-wrap: break-word;
  pointer-events: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.calendar-dates {
  position: relative;
  border: none;
  display: inline-block;
  pointer-events: none;
  margin: 0 !important;
  padding: 0 0 0 30px !important;
  color: $color-rosso-tfp;
  min-width: 50px!important;
  max-width: 99.99%!important;
  transition: width 0.25s;
  text-align: center;
}

.calendar-dates-end {
  font-family: $font-main;
  font-weight: $font-weight-heavy;
  position: relative;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  color: $color-grigio-scuro;
}

.calendar-just-dates {
  position: relative;
  border: none;
  display: inline-block;
  width: auto !important;
  min-width: 10px !important;
  margin: 0 !important;
  padding: 0 !important;
  pointer-events: none;
}

.calendar-period {
  position: relative;
  border: none;
  display: inline-block;
  width: auto !important;
  min-width: 10px !important;
  cursor: pointer;
  margin: 0 10px 0 0 !important;
  padding: 0 !important;
}

.shadow-wise-white {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.form-hold {
  position: relative;
  width: 100%;
  font-family: $form-label;

  label {
    font-family: $form-label;
    color: $color-grigio-chiaro;
    font-size: $paragraph-size;
    font-weight: $font-weight-book;
  }

  input[type=date],
  input[type=email],
  input[type=number],
  input[type=text] {
    position: relative;
    background-color: $color-bianco;
    border: $color-bianco solid 1px;
    width: 98%;
    height: 40px;
    margin: 10px 0 0;
    padding: 0 1%;
    font-family: $form-text;
    font-size: $paragraph-size;
    line-height: 130%;
    font-weight: $form-text-weight;
    color: $form-text-color;
  }

  input[type=checkbox] {}

  textarea {
    position: relative;
    background-color: $form-background-color;
    border: $form-border-color solid 1px;
    width: 96%;
    height: 25vh;
    margin: 10px 0 0;
    padding: 2%;
    font-family: $form-text;
    font-size: $paragraph-size;
    line-height: 130%;
    font-weight: $form-text-weight;
    color: $form-text-color;
    resize: none;
  }

  input[type=file] {
    position: relative;
    background-color: $form-file-background-color;
    margin: 10px 0 0;
    padding: 0;
    font-family: $form-text;
    font-size: $paragraph-size;
    line-height: 30px;
    font-weight: $form-text-weight;
    color: $form-text-color;
  }

  select {
    position: relative;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 40px;
    margin: 10px 0 0;
    padding: 0 2%;
    font-family: $form-label;
    color: $color-grigio-chiaro;
    font-size: $paragraph-size;
    font-weight: $font-weight-book;
  }

  input[type=submit] {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-family: $form-text;
    font-weight: $font-weight-heavy;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    color: $color-bianco;
    background-color: $color-rosso-tfp;
    border: $color-rosso-tfp solid 1px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  input[type=submit]:hover {
    color: $color-bianco;
    background-color: $color-rosso-tfp-dark;
    border: $color-rosso-tfp-dark solid 1px;
  }

  input[type=submit]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  input[type=email]:focus,
  input[type=number]:focus,
  input[type=text]:focus,
  textarea:focus {
    border: $form-border-color-focus solid 1px;
  }

  select:active {
    border: $form-border-color-focus solid 1px;
  }

  .capt {
    margin: 20px 0 0;
  }

  .wpcf7-not-valid {
    border: $form-error-background-color solid 1px !important;
  }

  .wpcf7-not-valid-tip {
    display: block !important;
    z-index: 99 !important;
    width: 96% !important;
    background-color: $form-error-background-color !important;
    color: $form-error-color !important;
    border: none !important;
    font-family: $form-text !important;
    font-size: $form-text-text-size !important;
    line-height: 130% !important;
    font-weight: $form-text-weight !important;
    padding: 2% !important;
    left: 0 !important;
  }
}

.wpcf7-mail-sent-ng,
.wpcf7-validation-errors {
  display: block !important;
  z-index: 99 !important;
  width: 96% !important;
  background-color: $form-error-background-color !important;
  color: $form-error-color !important;
  border: none !important;
  font-family: $form-text !important;
  font-size: $form-text-text-size !important;
  line-height: 130% !important;
  font-weight: $form-text-weight !important;
  padding: 2% !important;
  left: 0 !important;
}

.wpcf7-mail-sent-ok {
  display: block !important;
  z-index: 99 !important;
  width: 96% !important;
  background-color: $form-ok-background-color !important;
  color: $form-ok-color !important;
  border: none !important;
  font-family: $form-text !important;
  font-size: $form-text-text-size !important;
  line-height: 130% !important;
  font-weight: $form-text-weight !important;
  padding: 2% !important;
  left: 0 !important;
}

.wpcf7-list-item {
  width: 210px;
  display: inline-block;
  margin: 0 !important;
}

.listing-tickets-buy {
  font-weight: $font-weight-medium;
  font-size: $cta4-size;
  line-height: $cta4-lineheight;
  margin-bottom: $cta4-marginbottom;
  word-wrap: break-word;
  margin-top: 20px;
  display: inline-block;
  background-image: url("images/tickets.png");
  background-repeat: no-repeat;
  background-position: right -1px;
  background-size: 16px 16px;
  padding: 2px 18px 0 0;
  min-height: 24px;
}

a.listing-tickets-buy:link,
a.listing-tickets-buy:visited {
  color: $color-rosso-tfp;
}

.listing-tickets-buy-b {
  font-weight: $font-weight-medium;
  font-size: $cta4-size;
  line-height: $cta4-lineheight;
  margin-bottom: $cta4-marginbottom;
  word-wrap: break-word;
  margin-top: 20px;
  display: inline-block;
  text-decoration: underline;
}

a.listing-tickets-buy-b:link,
a.listing-tickets-buy-b:visited {
  color: $color-rosso-tfp;
}