@import '../vars'; // structure tablet
$header-height: 100px;
$logo-width: 100px; // wrappers

.only-mobile {
  display: none;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.wrapper-padded {
  position: relative;
  width: calc(100% - 26px);
  margin: 0 auto;
  padding: 0 13px;
}

.wrapper-padded-more,
.wrapper-padded-more-spettacolo {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.wrapper-padded-more-content {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
// flex boxes

.flex-hold {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex-wrap;
}

.flex-hold-verticalize {
  @include flex-verticalize;
}

.maybe-right {
  text-align: right;
}

.child-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.flex-hold-2 {
  .flex-hold-child {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

.flex-hold-2-bis {
  .flex-hold-child-l {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }

  .flex-hold-child-r {
    -webkit-box-flex: 1;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }
}
// overlay tickets

.list-dates-holder {
  position: relative;
}

.expandable-dates-saver {
  position: relative;
  z-index: 11;
}

.overlay-for-tickets {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url("images/spinner.gif");
  background-size: 63px 63px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tickets-overlay-close {
  display: none;
}

.tariffe-info {
  position: relative;
  -webkit-box-flex: 1;
  width: 100%;
}

.overlay-effect {
  @include transition;
  margin-top: 0;
  opacity: 1;
}

.overlay-effect-initial {
  margin-top: 100vh;
  opacity: 0;
}

.sticked {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

.sticked-bis {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 100px;
  align-self: flex-start;
}

.overlay-message-padding {
  padding: 20px 0 10px;
}

.overlay-lisiting-padding {
  padding: 60px 0 15vh;
}

.overlay-title-padding {
  padding: 0 0 0 25px;
}

.overlay-events-list {
  margin: 10px 0 0;
  padding: 0;
  border-top: $color-grigio-linee-grafica solid 1px;
}

.overlay-event-details {
  padding: 15px 0;
  border-bottom: $color-grigio-linee-grafica solid 1px;
  @include flex-verticalize;

  .detail:nth-child(1) {
    position: relative;
    -webkit-box-flex: 1;
    width: 45%;

    h5 {
      margin: 0;
      padding: 0;
    }
  }

  .detail:nth-child(2) {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(20% - 30px);
    padding: 0 15px;
    text-align: center;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .detail:nth-child(3) {
    position: relative;
    -webkit-box-flex: 1;
    width: 35%;
    text-align: right;
  }
}

.loghi-percorso-cartellone {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;

  .logo-percorso-cartellone {
    //width: 300px;
    margin: 0 40px 20px 0;

    img {
      width: auto;
      height: 80px;
    }
  }
}