@import '../vars';
// images in content
.wp-caption.alignnone,
.wp-caption.aligncenter {
	position: relative;
	width: calc(100% + 40px) !important;
	display: block;
	margin-top: 26px;
	margin-bottom: 40px;
	margin-left: -20px;
}

.wp-caption.alignleft,
.wp-caption.alignright {
	position: relative;
	width: 40% !important;
	float: left;
	margin-bottom: 15px;
}

.wp-caption.alignleft {
	float: left;
	margin-right: 15px;
}

.wp-caption.alignright {
	float: right;
	margin-left: 15px;
}

.wp-caption.alignnone img,
.wp-caption.aligncenter img,
.wp-caption.alignleft img,
.wp-caption.alignright img {
	width: 100% !important;
	height: auto !important;
	padding: 0;
	margin: 0;
}

.wp-caption.alignnone .wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	padding: 10px 0 0 0;
	color: $color-grigio-chiaro;
}
